<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta property="fb:app_id" content="1246986142323246" />
    @if (ViewBag.Url != null && !string.IsNullOrEmpty(ViewBag.Url))
    {
        <meta property="og:url" content="ViewBag.Url" />
    }
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    @if (ViewBag.Description != null && !string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta property="og:description" content="@ViewBag.Description" />
    }
    else
    {
        <meta property="og:description" content="@ResourceLanguage.HomeTitle" />
    }
    @if (ViewBag.Image != null && !string.IsNullOrEmpty(ViewBag.Image))
    {
        <meta property="og:image" content="@ViewBag.Image" />
    }
    else
    {
        <meta property="og:image" content="~/Content/GStoreWeb/images/img/images/GStore-SEO.png" />
    }
    <meta property="article:author" content="@ResourceLanguage.HomeTitle" />
    <meta property="article:publisher" content="@ResourceLanguage.HomeTitle" />
    <title>@Html.Raw(ViewBag.Title)</title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="@ResourceLanguage.HomeTitle" />
    <meta name="author" content="@ResourceLanguage.HomeTitle" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta name="title" content="@Html.Raw(ViewBag.Title)" />

    @if (ViewBag.Description != null && !string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@Html.Raw(ViewBag.Description)" />
    }
    else
    {
        <meta name="description" content="@ResourceLanguage.HomeTitle" />
    }
    @if (ViewBag.Keywords != null && !string.IsNullOrEmpty(ViewBag.Keywords))
    {
        <meta name="keywords" content="@Html.Raw(ViewBag.Keywords)" />
    }
    else
    {
        <meta name="keywords" content="Thái Sơn, thai son, thai son corp, xay dung, thi cong, cong trinh, du an, building, construction, building project" />
    }




    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97316763-1', 'auto');
        ga('send', 'pageview');

    </script>
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "" : Html.Raw(ViewBag.Title))</title>

    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    @*Chia sẻ*@
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fa7feadc715b900122c03bf&product=inline-share-buttons" async="async"></script>
</head>
<body>
    <!-- //------------------CSS GStore Web---------------------- -->
    <!-- Fontawesome Pro -->
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
    <!-- Important bootstrap 4.5.2 -->
    <link href="~/Content/GStoreWeb/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Quicksand -->
    <link href="~/Content/GStoreWeb/Font/Quicksand.css" rel="stylesheet" />
    <!-- aos.css -->
    <link href="~/Content/GStoreWeb/css/aos.css" rel="stylesheet" />
    <!--swiper-bundle.css -->
    <link href="~/Content/GStoreWeb/css/swiper-bundle.css" rel="stylesheet" />
    <!--swiper-bundle-min.css -->
    <link href="~/Content/GStoreWeb/css/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Import css overlay -->
    <link rel="stylesheet" href="~/Content/GStoreWeb/scss/overlay/overlay.css" />
    <!-- Import css header -->
    <link href="~/Content/GStoreWeb/scss/header/header.css" rel="stylesheet" />
    <!-- Import css footer -->
    <link rel="stylesheet" href="~/Content/GStoreWeb/scss/footer/footer.css" />
    <!-- Import css index -->
    <link href="~/Content/GStoreWeb/scss/index/index.css" rel="stylesheet" />
    <!-- Important blog css -->
    <link rel="stylesheet" href="~/Content/GStoreWeb/scss/blog/blog.css" />
    <!-- Import css features -->
    <link rel="stylesheet" href="~/Content/GStoreWeb/scss/feature/Card.module.css">
    <link rel="stylesheet" href="~/Content/GStoreWeb/scss/feature/System.module.css">
    <!-- Import css buttoncontact -->
    <link rel="stylesheet" href="~/Content/GStoreWeb/scss/buttoncontact/buttoncontact.css">
    <!-- Import css aboutus -->
    <link href="~/Content/GStoreWeb/scss/aboutus/aboutus.css" rel="stylesheet" />
    <!--<script src="~/Content/GStoreWeb/components/Loading/Loading.js" async></script>-->
    <!-- add js jquery-3 -->
    <script src="~/Content/GStoreWeb/js/jquery-3.3.1.min.js"></script>
    <!-- Import application -->
    <link href="~/Content/GStoreWeb/scss/detail/detail.css" rel="stylesheet" />
    <script src="~/Content/GStoreWeb/js/app.js"></script>
    <script src="~/Content/GStoreWeb/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Content/GStoreWeb/js/bootstrap.min.js"></script>
    <div id="st-wrapper">
        <!-- header -->
        @Html.Action("Header", "Layout")
        <!-- end header -->
        <!-- main-container -->
        @RenderBody()
        <!-- end main-container -->
        <!-- footer -->
        @Html.Action("Footer", "Layout")
        <!-- end footer -->
    </div>
    <!-- end .wrap -->
    <!--back to top-->
    <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
    <!--back to top end-->
    @*Nơi thêm js*@
    <!-- //--------------------JS GStore Web-------------------- -->
    <!-- add js loading -->
    <script>
        //  js page loading
        $(window).on('load', function (event) {
            $('body').removeClass('preloading');
            // $('.load').delay(1000).fadeOut('fast');
            $('.loader').delay(1000).fadeOut('fast');
        });
    </script>
    <!-- add js header -->
    <script src="~/Content/GStoreWeb/js/header.js"></script>
    <!-- add js swiper -->
    <script src="~/Content/GStoreWeb/js/swiper-bundle.js"></script>
    <script src="~/Content/GStoreWeb/js/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            loop: true,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 5000,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                772: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
            },
        });
    </script>
    <script>
        var swiper = new Swiper(".mySwiper2", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "3",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            initialSlide: 1,
            breakpoints: {
                200: {
                    initialSlide: 1,
                    slidesPerView: "auto",
                },
                768: {
                    slidesPerView: 3,
                },
            },
        });
    </script>
    <script>
        var swiper = new Swiper(".mySwiper3", {
            slidesPerView: 3,
            loop: true,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 5000,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                772: {
                    slidesPerView: 3,
                    spaceBetween: 20
                },
                992: {
                    slidesPerView: 4,
                    spaceBetween: 30,
                },
                1200: {
                    slidesPerView: 5,
                    spaceBetween: 30
                }
            },
        });
    </script>
    <script>
        var swiper = new Swiper(".mySwiperPartner", {
            slidesPerView: 3,
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
            },
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 0
                },
                576: {
                    slidesPerView: 2,
                    spaceBetween: 30
                },
                772: {
                    slidesPerView: 3,
                    spaceBetween: 40
                }
            },
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <!-- add js effect aos -->
    <script src="~/Content/GStoreWeb/js/aos.js"></script>
    <script>
        AOS.init({
            offset: 120,
            duration: 1000,
            once: true,
        });
    </script>
    <!-- add js active -->
    <script>
        $(".list__nav li a").click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
    </script>


