@using Web365.App_Code
@model IEnumerable<Web365Domain.PictureTypeItem>
@{
    ViewBag.Title = ResourceLanguage.PictureLibrary;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title-wrapper" style="background-image: url('/Content/uploads/tp_image05.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-holder">
                    <div class="title-holder-cell text-left">
                        <h1 class="page-title"><span>@ResourceLanguage.PictureLibrary</span></h1>
                        <ol class="breadcrumb">
                            <li>@HiconHtmlHelper.MakeLanguageHyperLink(ViewContext.RouteData, ResourceLanguage.Home, string.Empty)</li>
                            <li>@HiconHtmlHelper.MakeLanguageHyperLink(ViewContext.RouteData, ResourceLanguage.Library, "vi".Equals(Culture) ? "thu-vien" : "library")</li>
                            <li>@ResourceLanguage.PictureLibrary</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="content-wrapper" class="not-vc">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                foreach (var type in Model)
                {
                    <div class="st-heading style-1 text-left">
                        <h3 class="box-title">@type.Name</h3>
                        @*<div class="box-content">We are always working hard to build the real values.</div>*@
                    </div>

                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1470320972347 zoom-gallery">
                        @foreach (var img in type.Pictures)
                        {
                            <div class="ab-color-01 wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="st-promobox">
                                            <a href="@Web365Utility.Web365Utility.GetPathPicture(img.FileName)">
                                                <div class="box-image">
                                                    <span>
                                                        <img width="596" height="380" src="@Web365Utility.Web365Utility.GetPathPicture(img.FileName)" class="attachment-full size-full" >
                                                    </span>
                                                </div>
                                                @*<div class="box-content">
                                                        <div class="box-content-inner">
                                                            <h4 class="box-title">Design &amp; Build Package</h4>
                                                            <div class="box-subtitle">@img.Alt</div>
                                                        </div>
                                                    </div>*@
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
@section scripts
{
    <script>
        document.getElementById('libs').addEventListener('load', function () {
			setTimeout(function(){
            jQuery('.zoom-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                closeOnContentClick: false,
                closeBtnInside: false,
                mainClass: 'mfp-with-zoom mfp-img-mobile',
                image: {
                    verticalFit: true,
                    titleSrc: function (item) {
                        return item.el.attr('title');
                    }
                },
                gallery: {
                    enabled: true
                },
                zoom: {
                    enabled: true,
                    duration: 300, // don't foget to change the duration also in CSS
                    opener: function (element) {
                        return element.find('img');
                    }
                }
            });
        }, 1000);
        });
    </script>
}