@using Web365.App_Code
@model Web365Domain.ArticleGroupItem

@if (Model != null && Model.ListArticle != null && Model.ListArticle.Any())
{
    <div class="widget st-blog-wgt">
        <h3 class="widget-title"><span>@Model.Name</span></h3>
        <ul class="media-list">
            @foreach (var item in Model.ListArticle)
            {
                <li class="media">
                    <div class="pull-left">
                        <img width="120" height="120"
                             src="@Web365Utility.Web365Utility.GetPathPicture(item.Picture.FileName)"
                             class="attachment-thumbnail size-thumbnail wp-post-image" alt="@item.Title"
                             srcset="@Web365Utility.Web365Utility.GetPathPicture(item.Picture.FileName) 150w, @Web365Utility.Web365Utility.GetPathThumbPicture(item.Picture.FileName) 90w"
                             sizes="(max-width: 150px) 100vw, 150px">
                    </div>
                    <div class="media-body">
                        @HiconHtmlHelper.MakeLanguageHyperLink(ViewContext.RouteData, item.Title, item.ArticleType.NameAscii + "/" + item.TitleAscii)
                        <span>@item.DateCreated</span>
                    </div>
                </li>
            }
        </ul>
    </div>
}
