@using Web365.App_Code
@using Web365Domain
@using Web365Utility
@model ArticleItem
@{

    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.SEODescription;
    ViewBag.Keywords = Model.SEOKeyword;
    ViewBag.Image = (Model.Picture != null ? Web365Utility.GetPathPicture(Model.Picture.FileName) : "");
    ViewBag.Url = HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, Model.ArticleType.NameAscii + "/" + Model.TitleAscii);
    Layout = "~/Views/Shared/_LayoutTrangTrong.cshtml";
    var otherProjects = ViewBag.OtherProjects as List<ArticleItem>;
}


<div class="container-fluid title-page">
    <h1>@Model.Title</h1>
</div>


<div class="container row__up" id="features">
    <div class="timesh">
            <p class="bn88" style="margin-bottom: 30px">
                <i class="far fa-calendar-alt"></i> @Model.DateCreated.Value.ToString("dd/MM/yyyy")
            </p>       
        <div class="sharethis-inline-share-buttons timeshbutton"></div>
    </div>
    <div class="row row__blog">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:justify">
            <img style="width: auto;max-width: 100%;" src="@(Model.Picture != null ? Web365Utility.GetPathPicture(Model.Picture.FileName) : "")" alt="@(Model.Picture != null ? Model.Picture.Alt : "")">
            <p>
                @Html.Raw(Model.Detail)
            </p>
        </div>
        <div class="nearest__post col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <!-- searchfield -->
            <form class="search__box layout__container" role="search" action="@("vi".Equals(Culture) ? "/tim-kiem" : "/search")" id="searchform" method="get">
                <p class="title__box__nearest">Tìm Kiếm</p>
                <div class="input__search__blogs">
                    <input type="text" class="form-control" name="s" placeholder="@ResourceLanguage.EnterSearchKeyword">
                    <div class="icon__search">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- get posts -->
            @Html.Action("RightBarInNews", new { typeId = Model.ArticleType.ID })
        </div>
    </div>
    <div class="container__blog__involve row__up blog__pages">
        <h2>@ResourceLanguage.OtherNews </h2>
        <p></p>
        @if (otherProjects != null && otherProjects.Any())
        {
            <div class="swiper-container mySwiper blog__involve">
                <div class="swiper-wrapper">
                    @foreach (var item in otherProjects.Take(6))
                    {
                        <div class="swiper-slide">
                            <div class="images__swiper">
                                <img style="height:200px" src="@Web365Utility.GetPathPicture(item.Picture.FileName)" alt="@item.Title"
                                     loading="lazy" />
                            </div>
                            <div class="container__content">
                                <a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" title="@item.Title">
                                    @Html.Raw(HiconHtmlHelper.TruncateContentInHtml(item.Title, 100, "..."))
                                </a>
                                
                            </div>
                        </div>
                    }
                    </div>
                <div class="swiper-pagination" style="margin-bottom:20px"></div>             
            </div>
        }
        </div>
</div>

<script>
    $('#projct_slider_wrapper').owlCarousel({
        loop: false,
        margin: 10,
        responsiveClass: true,
        autoplay: true,
        nav: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            375: {
                items: 2,
                nav: true
            },
            425: {
                items: 2,
                nav: true
            },
            768: {
                items: 3,
                nav: true
            },
            1024: {
                items: 4,
                nav: true
            },
            1440: {
                items: 5,
                nav: true
            },

            2560: {
                items: 5,
                nav: true,
            }
        }
    })

</script>

