@using Web365.App_Code
@using Web365Domain
@using Web365Utility
@model Web365Models.ListArticleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Web365Domain.ArticleTypeItem articleTypeItem = ViewBag.TypeArticle;
    ViewBag.Title = articleTypeItem.Name;
    ViewBag.Description = articleTypeItem.SEODescription;
    ViewBag.Keywords = articleTypeItem.SEOKeyword;


}

@*<div id="mcn-breadcrumb" class="m-gioithieu">
        <div class="container">
            <div class="bread-crumb">
                <span xmlns:v="http://rdf.data-vocabulary.org/#">
                    <span typeof="v:Breadcrumb">
                        <a href="/" rel="v:url" property="v:title">@ResourceLanguage.Home <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <span rel="v:child" typeof="v:Breadcrumb">
                            <a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, articleTypeItem.NameAscii)" rel="v:url" property="v:title">@articleTypeItem.Name </a>

                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>*@
<div class="overlay"></div>
<div class="container-fluid title-page">
    <h1>@articleTypeItem.Name</h1>
</div>

@*<div class="tb_blog_section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    @if (Model != null && Model.List != null && Model.List.Any())
                    {
                        foreach (var item in Model.List)
                        {
                            <article class="entry entry-list">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="entry-media">
                                            <figure>
                                                <a class="box-bg" href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" style="background-image: url('@Web365Utility.GetPathPicture(item.Picture.FileName)')" title="@item.Picture.Name"></a>
                                            </figure>
                                            <div class="entry-meta">
                                                <span><i class="fa fa-calendar"></i>@item.DateCreated.Value.ToString("dd/MM/yyyy")</span>
                                            </div> End .entry-media
                                        </div> End .entry-media
                                    </div> End .col-md-6
                                    <div class="col-md-6">
                                        <h2 class="entry-title"><a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" title="@item.Title">@item.Title</a></h2>
                                        <div class="entry-content">
                                            @Html.Raw(item.Summary)

                                        </div> End .entry-content
                                    </div> End .col-md-6
                                </div> End .row
                            </article>
                        }
                    }
                    <div class="text-center">
                        @Html.Pager(ConfigWeb.ListNewsInCate, (int)ViewBag.Page, Model.total).Options(o => o.DisplayTemplate("ProjectPagination").MaxNrOfPages(5))
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bs_btm_pader">
                    @Html.Action("RightBarInNews", new { typeId = (int)StaticEnum.ArticleType.News })
                </div>

            </div>
        </div>
    </div>*@

@*<div class="container container__get container__posts">
        <div class="newest__post post__request">

            @if (Model != null && Model.List != null && Model.List.Any())
            {
                foreach (var item in Model.List)
                {
                    <div class="post__images">
                        <img src="@Web365Utility.GetPathPicture(item.Picture.FileName)" title="@item.Picture.Name" />
                    </div>
                    <div class="content__blog">
                        <p class="blog__date">
                            <i class="far fa-calendar-alt"></i> @item.DateCreated.Value.ToString("dd/MM/yyyy")
                        </p>
                        <a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" title="@item.Title">@item.Title">@Html.Raw(item.Summary)</a>
                    </div>
                }
            }
               </div>
    </div>*@
<div class="container container__get row__up">
    <div class="row">
        <div class="all__posts col-xs-12 col-sm-12 col-md-8 col-lg-8">
            @if (Model != null && Model.List != null && Model.List.Any())
            {
                foreach (var item in Model.List)
                {
                    <div class="post__request post__component">
                        <div class="post__images">
                            <img src="@Web365Utility.GetPathPicture(item.Picture.FileName)" title="@item.Picture.Name" />
                        </div>
                        <div class="content__blog">
                            <p class="blog__date">
                                <i class="far fa-calendar-alt"></i> @item.DateCreated.Value.ToString("dd/MM/yyyy")
                            </p>
                            <a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" title="@item.Title">@item.Title
                          
                           
                            </a>
                        </div>
                    </div>
                }
            }
                    <div class="pagination__blog">                       
                        @Html.Pager(ConfigWeb.ListNewsInCate, (int)ViewBag.Page, Model.total).Options(o => o.DisplayTemplate("ProjectPagination").MaxNrOfPages(5))                    
                    </div>
                </div>
        <div class="nearest__post col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <!-- searchfield -->
            <form class="search__box layout__container" role="search" action="@("vi".Equals(Culture) ? "/tim-kiem" : "/search")" id="searchform" method="get">
                <p class="title__box__nearest">Tìm Kiếm</p>
                <div class="input__search__blogs">
                    <input type="text" class="form-control" name="s" placeholder="@ResourceLanguage.EnterSearchKeyword">
                    <div class="icon__search">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- get posts -->
            <div class="layout__container layout__content__near">
                <p class="title__box__nearest">Tin mới nhất</p>
                <!-- posts -->
                @if (Model != null && Model.List != null && Model.List.Any())
                {
                    foreach (var item in Model.List)
                    {
                        <div class="near__post__component row">
                            <div class="image__post col-xs-5 col-sm-5 col-md-6 col-lg-5">
                                <img src="@Web365Utility.GetPathPicture(item.Picture.FileName)" title="@item.Picture.Name" />
                            </div>
                            <div class="content__post col-xs-7 col-sm-7 col-md-6 col-lg-7">
                                <a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" title="@item.Title">@item.Title">@Html.Raw(item.Summary)</a>
                                <p class="date__near"><i class="far fa-calendar-alt"></i> @item.DateCreated.Value.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    }
                }
                    </div>
        </div>
    </div>
</div>










