@using Web365.App_Code
@using Web365Domain
@using Web365Utility
@model Web365Models.ListArticleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Web365Domain.ArticleTypeItem articleTypeItem = ViewBag.TypeArticle;
    ViewBag.Title = articleTypeItem.Name;
    ViewBag.Description = articleTypeItem.SEODescription;
    ViewBag.Keywords = articleTypeItem.SEOKeyword;


}


<div class="overlay"></div>
<div class="container-fluid title-page">
    <h1>@articleTypeItem.Name</h1>
</div>

<div class="container container__get row__up">
    <div class="row">
        <div class="all__posts col-xs-12 col-sm-12 col-md-8 col-lg-8">
            @if (Model != null && Model.List != null && Model.List.Any())
            {
                foreach (var item in Model.List)
                {
                    <div class="post__request post__component">
                        <div class="post__images">
                            <img src="@Web365Utility.GetPathPicture(item.Picture.FileName)" title="@item.Picture.Name" />
                        </div>
                        <div class="content__blog">
                            <p class="blog__date">
                                <i class="far fa-calendar-alt"></i> @item.DateCreated.Value.ToString("dd/MM/yyyy")
                            </p>
                            <a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" title="@item.Title">
                                @item.Title


                        </a>
                    </div>
                </div>
            }
        }
            <div class="pagination__blog">
                @Html.Pager(ConfigWeb.ListNewsInCate, (int)ViewBag.Page, Model.total).Options(o => o.DisplayTemplate("ProjectPagination").MaxNrOfPages(5))
            </div>
        </div>
        <div class="nearest__post col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <!-- searchfield -->
            <form class="search__box layout__container" role="search" action="@("vi".Equals(Culture) ? "/tim-kiem" : "/search")" id="searchform" method="get">
                <p class="title__box__nearest">Tìm Kiếm</p>
                <div class="input__search__blogs">
                    <input type="text" class="form-control" name="s" placeholder="@ResourceLanguage.EnterSearchKeyword">
                    <div class="icon__search">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- get posts -->
            <div class="layout__container layout__content__near">
                <p class="title__box__nearest">Tin mới nhất</p>
                <!-- posts -->
                @if (Model != null && Model.List != null && Model.List.Any())
                {
                    foreach (var item in Model.List)
                    {
                        <div class="near__post__component row">
                            <div class="image__post col-xs-5 col-sm-5 col-md-6 col-lg-5">
                                <img src="@Web365Utility.GetPathPicture(item.Picture.FileName)" title="@item.Picture.Name" />
                            </div>
                            <div class="content__post col-xs-7 col-sm-7 col-md-6 col-lg-7">                              
                                <a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)">@Html.Raw(HiconHtmlHelper.TruncateContentInHtml(item.Title, 50, "..."))</a>
                                <p class="date__near"><i class="far fa-calendar-alt"></i> @(item.DateCreated.HasValue ? item.DateCreated.Value.ToString("dd/MM/yyyy") : "")</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>










