@using Web365.App_Code
@using Web365Utility
@model Web365Models.ListArticleModel
@{
    ViewBag.Title = ResourceLanguage.SearchText + ": " + ViewBag.Keywords;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid title-page">
    <h1>@ResourceLanguage.SearchResultsFor : @(Request.Params["s"])</h1>
</div>





<div class="container row__up" id="features">
    @if (Model != null && Model.List != null && Model.List.Any())
    {
        foreach (var item in Model.List)
        {
            <div class="sharethis-inline-share-buttons"></div>
            <p class="blog__date" style="margin-bottom: 30px">
                <i class="far fa-calendar-alt"></i>@item.DateCreated.Value.ToString("dd/MM/yyyy")
            </p>

            <div class="row row__blog">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <h1><a href="@HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, item.ArticleType.NameAscii + "/" + item.TitleAscii)" title="@item.Title">@item.Title</a></h1>
                    <img src="@Web365Utility.GetPathPicture(item.Picture.FileName)" title="@item.Picture.Name">
                    <p>
                        @Html.Raw(item.Summary)
                    </p>
                </div>
                <div class="nearest__post col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!-- searchfield -->
                    <form class="search__box layout__container" role="search" action="@("vi".Equals(Culture) ? "/tim-kiem" : "/search")" id="searchform" method="get">
                        <p class="title__box__nearest">Tìm Kiếm</p>
                        <div class="input__search__blogs">
                            <input type="text" class="form-control" name="s" placeholder="@ResourceLanguage.EnterSearchKeyword">
                            <div class="icon__search">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <!-- get posts -->
                    @Html.Action("RightBarInNews", new { typeId = (int)StaticEnum.ArticleType.News })
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            @ResourceLanguage.SearchResultNotFound
        </div>
    }
</div>